h1 {
    font-family: serif;
    color: #222266;
}

h2 {
    font-family: serif;
    border-top-style: solid;
    border-top-width: 2px;
    border-color: #ccccdd;
    padding-top: 12px;
    margin-top: 48px;
    margin-bottom: 2px;
    color: #222266;
}

h3 {
    font-family: serif;
    color: #222266;
}

@media print {
    table {
        font-size: 8pt;
    }
}

@media screen {
    table {
        font-size: 10pt;
    }
}

table th {
    font-family: sans-serif;
    background: #aaaaff;
}

table {
    border-collapse: collapse;
}

table td {
    font-family: sans-serif;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #aaaaff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    background: #eeeeff;
}


/* the mnemonic guide */

table.letters {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
}

table.letters td:first-child {
    font-family: monospace;
    width: 10%;
    text-align: center;
}

table.letters td:first-child + td {
    width: 10%;
    text-align: center;
}

table.letters td:first-child + td + td {
    width: 80%;
}


/* the formats, per se */

table.format {
    background: #aaaaaa;
    border-collapse: collapse;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
}

table.format td {
    font-family: monospace;
}

table.format td + td i {
    font-family: sans-serif;
}

table.format td sub {
    font-family: sans-serif;
}

table.format td sub {
    font-family: sans-serif;
    font-style: italic;
    font-size: 70%
}

table.format th:first-child {
    width: 28%;
}

table.format th:first-child + th {
    width: 5%;
}

table.format th:first-child + th + th {
    width: 45%;
}

table.format th:first-child + th + th + th {
    width: 22%;
}

table.format p { 
    margin-bottom: 0pt;
}